<div class="container-fluid">
  <section class="content-header">
    <h4>Temperature History</h4>
  </section>
  <section class="content">
    <h6>Params</h6>
    <div class="row">
      <div class="col-xs-12 col-12 col-md-2 form-group input-group">
        <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
        </div>
        <input type="text"
               placeholder="Select date from/to"
               class="form-control"
               bsDaterangepicker
               placement="bottom left"
               (bsValueChange)="onDateChange($event)"
               [bsConfig]="{ showWeekNumbers: false, displayMonths: 1, rangeInputFormat : 'DD.MM.YYYY',
                  dateInputFormat: 'DD.MM.YYYY', showTodayButton: true, containerClass: 'theme-dark-blue' }">

      </div>
      <div class="col-sm-1">
        <button class="btn btn-block bg-gradient-primary" (click)="onShowClick()">Show</button>
      </div>
    </div>
    <h6>History</h6>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Temperature</th>
          <th>Date</th>
          <th>Sensor name</th>
          <th>ROM</th>
        </tr>
      </thead>
      <tbody>
        <tr [class]="getRowColor(item.temperature)" *ngFor="let item of history">
          <td>{{item.temperature  | number:'1.1-1'}}</td>
          <td>{{item.date  | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td><a routerLink='/TempHistory/{{item.snID}}/{{from}}/{{to}}'>{{item.sensors.name}}</a></td>
          <td>{{item.sensors.rom}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
