.text-with-linebreaks {
  white-space: pre-wrap;
}

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.small-box > .inner {
  padding: 10px;
}

.small-box > .small-box-footer {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}

.small-box > .small-box-footer:hover {
  background: rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.small-box h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .col-xl-2 .small-box h3,
  .col-lg-2 .small-box h3,
  .col-md-2 .small-box h3 {
    font-size: 1.6rem;
  }
  .col-xl-3 .small-box h3,
  .col-lg-3 .small-box h3,
  .col-md-3 .small-box h3 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 .small-box h3,
  .col-lg-2 .small-box h3,
  .col-md-2 .small-box h3 {
    font-size: 2.2rem;
  }
  .col-xl-3 .small-box h3,
  .col-lg-3 .small-box h3,
  .col-md-3 .small-box h3 {
    font-size: 2.2rem;
  }
}

.card > .overlay,
.card > .loading-img,
.overlay-wrapper > .overlay,
.overlay-wrapper > .loading-img,
.info-box > .overlay,
.info-box > .loading-img,
.small-box > .overlay,
.small-box > .loading-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card .overlay,
.overlay-wrapper .overlay,
.info-box .overlay,
.small-box .overlay {
  border-radius: 0.25rem;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 50;
}

.card .overlay > .fa,
.card .overlay > .fas,
.card .overlay > .far,
.card .overlay > .fab,
.card .overlay > .fal,
.card .overlay > .fad,
.card .overlay > .svg-inline--fa,
.card .overlay > .ion,
.overlay-wrapper .overlay > .fa,
.overlay-wrapper .overlay > .fas,
.overlay-wrapper .overlay > .far,
.overlay-wrapper .overlay > .fab,
.overlay-wrapper .overlay > .fal,
.overlay-wrapper .overlay > .fad,
.overlay-wrapper .overlay > .svg-inline--fa,
.overlay-wrapper .overlay > .ion,
.info-box .overlay > .fa,
.info-box .overlay > .fas,
.info-box .overlay > .far,
.info-box .overlay > .fab,
.info-box .overlay > .fal,
.info-box .overlay > .fad,
.info-box .overlay > .svg-inline--fa,
.info-box .overlay > .ion,
.small-box .overlay > .fa,
.small-box .overlay > .fas,
.small-box .overlay > .far,
.small-box .overlay > .fab,
.small-box .overlay > .fal,
.small-box .overlay > .fad,
.small-box .overlay > .svg-inline--fa,
.small-box .overlay > .ion {
  color: #343a40;
}

.card .overlay.dark,
.overlay-wrapper .overlay.dark,
.info-box .overlay.dark,
.small-box .overlay.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.card .overlay.dark > .fa,
.card .overlay.dark > .fas,
.card .overlay.dark > .far,
.card .overlay.dark > .fab,
.card .overlay.dark > .fal,
.card .overlay.dark > .fad,
.card .overlay.dark > .svg-inline--fa,
.card .overlay.dark > .ion,
.overlay-wrapper .overlay.dark > .fa,
.overlay-wrapper .overlay.dark > .fas,
.overlay-wrapper .overlay.dark > .far,
.overlay-wrapper .overlay.dark > .fab,
.overlay-wrapper .overlay.dark > .fal,
.overlay-wrapper .overlay.dark > .fad,
.overlay-wrapper .overlay.dark > .svg-inline--fa,
.overlay-wrapper .overlay.dark > .ion,
.info-box .overlay.dark > .fa,
.info-box .overlay.dark > .fas,
.info-box .overlay.dark > .far,
.info-box .overlay.dark > .fab,
.info-box .overlay.dark > .fal,
.info-box .overlay.dark > .fad,
.info-box .overlay.dark > .svg-inline--fa,
.info-box .overlay.dark > .ion,
.small-box .overlay.dark > .fa,
.small-box .overlay.dark > .fas,
.small-box .overlay.dark > .far,
.small-box .overlay.dark > .fab,
.small-box .overlay.dark > .fal,
.small-box .overlay.dark > .fad,
.small-box .overlay.dark > .svg-inline--fa,
.small-box .overlay.dark > .ion {
  color: #ced4da;
}

.small-box p {
  font-size: 1rem;
}

.small-box p > small {
  color: #f8f9fa;
  display: block;
  font-size: 0.9rem;
  margin-top: 5px;
}

.small-box h3,
.small-box p {
  z-index: 5;
}

.small-box .icon {
  color: rgba(0, 0, 0, 0.15);
  z-index: 0;
}

.small-box .icon > i {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s linear;
}

.small-box .icon > i.fa, .small-box .icon > i.fas, .small-box .icon > i.far, .small-box .icon > i.fab, .small-box .icon > i.glyphicon, .small-box .icon > i.ion {
  font-size: 70px;
  top: 20px;
}

.small-box:hover {
  text-decoration: none;
}

.small-box:hover .icon > i {
  font-size: 95px;
}

.small-box:hover .icon > i.fa, .small-box:hover .icon > i.fas, .small-box:hover .icon > i.far, .small-box:hover .icon > i.fab, .small-box:hover .icon > i.glyphicon, .small-box:hover .icon > i.ion {
  font-size: 75px;
}

@media (max-width: 767.98px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

.bg-primary,
.bg-primary > a {
  color: #ffffff !important;
}

.bg-primary.btn:hover {
  border-color: #0062cc;
  color: #ececec;
}

.bg-primary.btn:not(:disabled):not(.disabled):active, .bg-primary.btn:not(:disabled):not(.disabled).active, .bg-primary.btn:active, .bg-primary.btn.active {
  background-color: #0062cc !important;
  border-color: #005cbf;
  color: #ffffff;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-secondary,
.bg-secondary > a {
  color: #ffffff !important;
}

.bg-secondary.btn:hover {
  border-color: #545b62;
  color: #ececec;
}

.bg-secondary.btn:not(:disabled):not(.disabled):active, .bg-secondary.btn:not(:disabled):not(.disabled).active, .bg-secondary.btn:active, .bg-secondary.btn.active {
  background-color: #545b62 !important;
  border-color: #4e555b;
  color: #ffffff;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-success,
.bg-success > a {
  color: #ffffff !important;
}

.bg-success.btn:hover {
  border-color: #1e7e34;
  color: #ececec;
}

.bg-success.btn:not(:disabled):not(.disabled):active, .bg-success.btn:not(:disabled):not(.disabled).active, .bg-success.btn:active, .bg-success.btn.active {
  background-color: #1e7e34 !important;
  border-color: #1c7430;
  color: #ffffff;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-info,
.bg-info > a {
  color: #ffffff !important;
}

.bg-info.btn:hover {
  border-color: #117a8b;
  color: #ececec;
}

.bg-info.btn:not(:disabled):not(.disabled):active, .bg-info.btn:not(:disabled):not(.disabled).active, .bg-info.btn:active, .bg-info.btn.active {
  background-color: #117a8b !important;
  border-color: #10707f;
  color: #ffffff;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-warning,
.bg-warning > a {
  color: #1F2D3D !important;
}

.bg-warning.btn:hover {
  border-color: #d39e00;
  color: #121a24;
}

.bg-warning.btn:not(:disabled):not(.disabled):active, .bg-warning.btn:not(:disabled):not(.disabled).active, .bg-warning.btn:active, .bg-warning.btn.active {
  background-color: #d39e00 !important;
  border-color: #c69500;
  color: #1F2D3D;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-danger,
.bg-danger > a {
  color: #ffffff !important;
}

.bg-danger.btn:hover {
  border-color: #bd2130;
  color: #ececec;
}

.bg-danger.btn:not(:disabled):not(.disabled):active, .bg-danger.btn:not(:disabled):not(.disabled).active, .bg-danger.btn:active, .bg-danger.btn.active {
  background-color: #bd2130 !important;
  border-color: #b21f2d;
  color: #ffffff;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-light,
.bg-light > a {
  color: #1F2D3D !important;
}

.bg-light.btn:hover {
  border-color: #dae0e5;
  color: #121a24;
}

.bg-light.btn:not(:disabled):not(.disabled):active, .bg-light.btn:not(:disabled):not(.disabled).active, .bg-light.btn:active, .bg-light.btn.active {
  background-color: #dae0e5 !important;
  border-color: #d3d9df;
  color: #1F2D3D;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-dark,
.bg-dark > a {
  color: #ffffff !important;
}

.bg-dark.btn:hover {
  border-color: #1d2124;
  color: #ececec;
}

.bg-dark.btn:not(:disabled):not(.disabled):active, .bg-dark.btn:not(:disabled):not(.disabled).active, .bg-dark.btn:active, .bg-dark.btn.active {
  background-color: #1d2124 !important;
  border-color: #171a1d;
  color: #ffffff;
}
